<div id="lists">
	
</div>

<div class="board_item">
	<div id="new_list_form">
		<form>
			<input type="text" id="listName" placeholder="Add a list...">
			<input type="submit" value="Save" class="save">
			<div id="cancel">X</div>
		</form>
	</div>
<div id="list_form_toggle">Add a list...</div>
</div>
