{{#each cards}}
<div class="card" data-id="{{id}}">
	<form class="renameCard">
		<input type="text">
		<input type="submit">
	</form>
	<h2>{{title}}</h2><span class="icon_pencil"></span>
</div>
{{/each}}