{{#each cards}}
<div class="card" data-id="{{id}}">
	<form class="renameCard">
		<input type="text">
		<input type="submit">
	</form>
	<h2>{{title}}</h2><span class="icon_pencil"></span>
	{{#if description}}
	<div class="icon_description"></div>
	{{/if}}
</div>
{{/each}}
<div class="new_card_form">
	<form>
		<textarea></textarea>
		<input type="submit" value="Add" class="save">
		<div class="cancel">x</div>
	</form>
</div>