{{#each lists}}
<div class="list" data-id="{{id}}">
	<form class="renameList">
		<input type="text">
		<input type="submit">
	</form>
	<h1>{{title}}</h1>
	<div class="cards">

	</div>
	<div class="new_card_form">
		<form>
			<textarea></textarea>
			<input type="submit" value="Add" class="save">
			<div class="cancel">X</div>
		</form>
	</div>
	<div class="card_form_toggle">Add a card...</div>
</div>
{{/each}}
