{{#each lists}}
<div class="list" data-id="{{id}}">
	<form class="rename renameList">
		<input type="text" value="{{title}}">
		<input type="submit" class="hidden">
	</form>
	<div class="scroll_wrap">
		<div class="cards">

		</div>
		<div class="card_form_toggle">Add a card...</div>
	</div>
</div>
{{/each}}
