<div class="list" data-id="{{id}}">
	<form class="rename renameList">
		<input type="text" value="{{title}}">
		<input type="submit" class="hidden">
	</form>
	<div class="scroll_wrap">
		<div class="cards">
			<div class="draggable">	
			</div>
			<div class="new_card_form">
				<form>
					<textarea class="nameInput"></textarea>
					<input type="submit" value="Add" class="save">
					<div class="cancel">x</div>
				</form>
			</div>
		</div>
		<div class="card_form_toggle">Add a card...</div>
	</div>
</div>