@import "whitespace-reset-modified.css";
@import "dragula.css";
body {
  font: normal 15px "Lucianda", Helvetica, Arial, sans-serif;
  background-color: #1c67a2;
}
body header h1 {
  text-align: center;
  margin: 5px auto;
  font-size: 30px;
  color: #f5f6f5;
}
body #board {
  background-color: #2279bf;
  height: 1000px;
}
body #board .board_item,
body #board .list {
  display: inline-block;
  width: 270px;
  margin: 5px;
  border-radius: 3px;
  vertical-align: top;
}
#list_form_toggle {
  background-color: #1c67a2;
  padding: 10px;
  color: #b7d1e4;
  border-radius: 3px;
  cursor: pointer;
}
#new_list_form {
  display: none;
  background-color: #e2e4e5;
  padding: 4px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 0 #aaa;
  border: 1px solid #ccc;
}
#new_list_form input#listName {
  font-size: 16px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: rgba(0,0,0,0.05);
  border-color: #aaa;
  box-shadow: inset 0 1px 8px rgba(0,0,0,0.15);
  border-radius: 3px;
  padding: 7px;
  outline: none;
}
#cancel,
.cancel {
  display: inline-block;
  padding: 10px;
  font: normal 20px sans-serif, 'Lucida Sans Unicode';
  background-color: inherit;
  border: none;
  outline: none;
  color: #8a9297;
  cursor: pointer;
  transition: 0.3s;
}
#cancel:hover,
.cancel:hover {
  color: #555;
}
input[type='submit'] {
  width: 54px;
  height: 30px;
  border: none;
  background-color: #53a03f;
  font-weight: 800;
  font-size: 12px;
  color: #fff;
  transition: 0.3s;
  vertical-align: center;
  outline: none;
}
input[type='submit']:hover {
  background-color: #407c31;
}
#lists {
  display: inline-block;
}
#lists .list {
  background-color: #e2e4e5;
  padding: 4px;
  border-radius: 3px;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 0 #aaa;
  border: 1px solid #ccc;
}
#lists .list h1,
#lists .list input[type="text"] {
  padding: 5px;
  display: block;
  font-size: 14px;
  font-weight: 600;
}
#lists .list .card_form_toggle {
  color: #4c4d4c;
  cursor: pointer;
  padding: 8px;
  margin: 3px -5px -5px -5px;
  border-radius: 3px;
}
#lists .list .card_form_toggle:hover {
  text-decoration: underline;
  background-color: #c3c8cb;
}
#lists .list textarea {
  font-size: inherit;
  display: block;
  width: 250px;
  height: 50px;
  resize: none;
  margin: 0 0 5px 0;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 0 #aaa;
  border: 1px solid #ccc;
}
.card {
  margin: 5px 0 0 0;
  cursor: pointer;
  padding: 0 0 20px 0;
  margin: 0 0 5px 0;
  background: #fff url("../images/description.png") no-repeat 15px 25px/12px 12px;
  overflow: hidden;
  border-radius: 3px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 0 #aaa;
  border: 1px solid #ccc;
}
.card:hover {
  background-color: #d2e4e3;
}
.card h2 {
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #808080;
  display: inline-block;
}
.card .icon_pencil {
  display: inline-block;
  height: 10px;
  width: 10px;
  padding: 5px;
  margin: 3px 3px 0 0;
  background: transparent url("../images/pencil.png") no-repeat 5px 4px/10px 10px;
  border-radius: 3px;
  float: right;
}
.card .icon_pencil:hover {
  background-color: #c3c8cb;
}
.new_card_form {
  display: none;
}
form.renameList,
form.renameCard {
  display: none;
}
form.renameList input[type="submit"],
form.renameCard input[type="submit"] {
  display: none;
}
.cards {
  padding: 5px 0 0 0;
}
