@import "whitespace-reset-modified.css"
@import "mixins"
@import "dragula.css"
body
	font normal 14px Helvetica, Arial, sans-serif
	color #333
	background-color #1C67A2
	min-width 900px
	overflow hidden
	header
		position fixed
		z-index 1
		background-color transparent
		& > h1
			top 0
			left 42%
			position fixed
			font-size 30px
			color #F5F6F5
		#search
			margin-left 10px
			#results
				box-sizing border-box
				width 450px
				display none
				padding 15px 100px 15px 15px
				background-color #EDEFF0
				box()
				h1
					padding-bottom 5px
				.card
					padding 0 20px 0 0
					display inline-block
					width 170px
				span + .card
					margin-top 15px
				span
					vertical-align 90%
					margin-left 5px
					display inline-block
					font normal 13px Helvetica, Arial, sans-serif
					color #999
					
			input
				color #333
				width 150px
				top 7px
				left 10px
				position fixed
				padding 5px
				background-color #4C92C0
				outline none
				border none
				border-radius 2px
				transition .3s
				&:hover
					background-color #66A2C9
				&:focus
					background-color white
					width 200px
				
#board
	background-color #2279BF
	height calc(100vh - 40px)
	box-sizing border-box
	margin-top 40px
	overflow-x auto
	white-space nowrap
	border solid 8px transparent 
	.board_item, .list
		display inline-block
		width 270px
		margin 0 5px 5px 5px
		vertical-align top
#list_form_toggle
	background-color #1C67A2
	padding 10px
	margin-right 15px
	color #B7D1E4
	border-radius 3px
	cursor pointer
#new_list_form
	background-color #E2E4E5
	padding 4px
	display none	
	box()
	input#listName
		font-size 14px
		display block
		width 100%
		box-sizing border-box
		background rgba(0,0,0,.05)
		border-color #aaa
		box-shadow inset 0 1px 8px rgba(0,0,0,.15)
		border-radius 3px
		padding 7px
		outline none
					
#cancel,
.cancel,
.cancelEdit
	display inline-block
	padding 10px
	font normal 20px 'Arial', sans-serif;
	background-color inherit
	border none
	outline none
	color #8A9297
	cursor pointer
	transition .3s
	&:hover
		color #555
		
input[type='submit']
	width 54px
	height 30px
	border none
	background-color #53A03F
	font-weight 800
	font-size 12px
	color white
	transition: .3s
	vertical-align center
	outline none
	&:hover
		background-color #407c31

#lists
	display inline-block

.list
	background-color #E2E4E6
	padding 2px
	box-sizing border-box
	box()
	h1, input[type="text"]	
		padding 5px
		display block
		font-size 14px
		font-weight 600
	.card_form_toggle
		color #4C4D4C
		cursor pointer
		padding 8px
		margin 3px -3px -3px -3px
		border-radius 3px
		&:hover
			text-decoration underline
			background-color #C3C8CB
	textarea
		font-size inherit
		display block
		width 250px
		height 50px
		resize none
		margin 0 0 5px 0
		box()
.card
	cursor pointer
	margin 0 4px 5px 0
	background white
	overflow hidden
	border-radius 3px
	box()
	&:hover
		background-color #EDEFF0
	.icon_description
		padding 5px 0 15px 5px
		background url("../images/description.png") no-repeat 12px 0 / 12px 12px
	h2
		white-space normal
		width 220px
		padding 5px 0 5px 5px
		font-size 14px
		font-weight 400
		color gray
		display inline-block
	.icon_pencil
		display inline-block
		height 10px
		width 10px
		padding 5px
		margin 3px 3px 0 0
		background transparent url("../images/pencil.png") no-repeat 5px 4px / 10px 10px
		border-radius 3px
		float right
		&:hover
			background-color #C3C8CB

.hidden
form.renameCard,
.new_card_form,
#modal,
#tint,
.tint
	display none
	
.card.editing
	overflow hidden
	form.renameCard
		display inline-block
		position absolute
		z-index 3
		cursor default
		textarea
			height 80px
			box()
		input[type="submit"]
			margin-top 20px
			cursor pointer
			width 75px
			height 33px
			font-size 13px
			font-weight 600
		input.no_margin
			margin-top 10px
		.icon_description
			z-index 5
			margin -30px 0 0 7px
			// padding 5px 0 15px 5px
			background url("../images/description.png") no-repeat
		

	.tint
		display block

form.rename
	input[type="text"]
		background-color transparent
		border none
		width 92%
		font-weight 600
	input[type="text"]:focus
		background-color: white

.scroll_wrap
	position relative

.cards, #results
	max-height calc(100vh - 150px)
	overflow-y auto
	padding 1px 0 0 0	

.cards.long 
	max-height calc(100vh - 119px)
	
#modal
	background-color #EDEFF0
	height 400px
	width 550px
	position fixed
	margin auto auto
	top 0
	right 0
	bottom 0
	left 0
	z-index 3
	box()
	section
		padding 10px 10px 10px 20px
		h3
			font normal 13px Helvetica, Arial, sans-serif
			color #999
		a
			cursor pointer
			text-decoration underline
		form.rename
			input[type="text"]
				font 600 18px Helvetica, Arial, sans-serif
				color #333
			input[type="submit"]
				display none
		textarea
			display block
			height 100px
			width 450px
			box()
			padding 7px
			font-size 14px
			lineheight 18px
			resize none
			background transparent
			outline none
			
h3
	margin 0 0 10px 0

#tint, .tint
	position fixed
	top 0
	right 0
	bottom 0
	left 0
	background rgba(0, 0, 0, .5)
	z-index 1
	cursor default
	
#board::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 10px;
}

#board::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #66A2C9;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
#board::-webkit-scrollbar-track {
	background-color #0064A5
	border-radius: 3px;
}

.cards::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}

.cards::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #C3C9CC;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.cards::-webkit-scrollbar-track {
	background-color #D5DADC;
	border-radius: 3px;
}

#results::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 10px;
  width: 8px;
}
#results::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #C3C9CC;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
#results::-webkit-scrollbar-track {
	background-color #D5DADC;
	border-radius: 3px;
}


@media screen and (max-width 500px)
	body header > h1
		left 60%
		font-size 20px
@media screen and (max-width 317px)
	body header > h1
		left 75%