box()
	border-radius 3px
	box-shadow .5px .2px .5px 0px #aaa
	border 1px solid #ccc

cardLocation()
	font normal 13px Helvetica, Arial, sans-serif
	color #999

colors = {
	lightText: #333,
	main: #fff
}
